body {
  display: flex;
  align-items: center;
  justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: rgb(24, 24, 24);
    height: 65vh;
    width: 50vh;
   
  }

  #calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 10px white;
    padding: 20px;
    text-align: center;
    background-color: rgba(138, 138, 157, 0.617);

  }
  
  input[type="text"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 11px;
    font-size: 18px;
    background-color: rgb(48, 46, 46);
    color: white;
  }

  button {
    width: 45px;
    height: 45px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 9px;
    background-color: black;
    color: #fff;
  }

  button.operator {
    background-color: #565552;
    color: #020202;
  }

  button.equal{
   background-color: white;
   color: grey;
   border: 2px solid #020202;
  }
